flake8>=3  # pyup: ignore
tox==4.18.0
# Extras
pytimeparse==1.1.8
# TODO I don't know if we need the below on CI
coverage>=6.2
pip>=21.3.1
bump2version==1.0.1
wheel==0.44.0; python_version == "3.6"
wheel==0.44.0; python_version > "3.6"
watchdog[watchmedo]==5.0.0
Sphinx==8.0.2
twine==3.8.0
